* {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

#ul-nav {
  background-color: #986fff;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#ul-nav li {
  flex: 1;
  justify-content: center;
  text-align: center;
}

a{
  color:aliceblue;
}

nav a {
  color: aliceblue;
  text-decoration: none;
}

/* контейнер с инфой */
.container {
  background-color: #692cbf;
  color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  width: 50%;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* контейнер навигации */
.container-nav{
  background-color: #692cbf;
  color: aliceblue;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
}

/* контейнер общий */
.container-big{ 
  background-color: #986fff;
  color: aliceblue;
  border-radius: 10px;
  align-items: center;
  padding: 20px;
  margin: 10px;
  justify-content: center;
  display: flex;
}

form{
  line-height: 2;
}

main{
  display: flex;
  flex-direction: column;
}

main div{
  display: flex;
}

h1{
  color:rgb(250, 119, 255);
}

h3{
  color:rgb(250, 119, 255);
}